@mixin font($font-name, $font-style, $font-weight, $font-url) {
  @font-face {
    font-display: swap;
    font-family: $font-name;
    font-style: $font-style;
    font-weight: $font-weight;
    src: url($font-url) format('woff2');
  }
}

@include font('Geologica', normal, 300, '~/assets/fonts/Geologica-Light.ttf');
@include font('Geologica', normal, 400, '~/assets/fonts/Geologica-Regular.ttf');
@include font('Geologica', normal, 500, '~/assets/fonts/Geologica-Medium.ttf');
@include font('Geologica', normal, 700, '~/assets/fonts/Geologica-Bold.ttf');
